@import url('https://fonts.cdnfonts.com/css/axiforma');

:root {
    margin: 0;
    font-family: 'Axiforma', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}